<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.Abhijith M/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

<head>
    <meta charset="utf-8">
    <title>CHASHMA</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/toplogo.jpeg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <style>
        /* Add custom styles for a smaller radio button */
        .custom-radio {
            transform: scale(0.7);
            /* Adjust the scale factor as needed */
            margin-right: 5px;
            /* Adjust the margin as needed */
        }
    </style>
</head>

<body>
    <%- include('header') -%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span><a href="/productList" rel="nofollow">Shop</a>
                    <span></span><a href="/checkout" rel="nofollow">Checkout</a>
                </div>
            </div>
        </div>
        
        
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a
                                    href="#coupon" data-bs-toggle="collapse" class="collapsed"
                                    aria-expanded="false">Click here to see Available codes</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">Already having  coupon code, please chose it from below.</p>
                             
                                <form method="post">
                                    <div class="form-group">
                                        <%for(i = 0 ; i<coupon.length; i++) {%>
                                            
                                            <p>
                                                Use coupon code "<span style="color: rgba(4, 0, 255, 0.521); font-weight: bold;"><%= coupon[i].couponCode %></span>" 
                                                to get <%= coupon[i].discountAmount %>
                                                off on your purchase of <%= coupon[i].minPurchase %> rupees
                                                or more.
                                                <input type="hidden" id="showCoupon" name="showCoupon">
                                            </p>
                                        <%}%>
                                    </div>
                                   
                                </form>
                                
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a
                                    href="#coupon" data-bs-toggle="collapse" class="collapsed"
                                    aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <!-- <form method="post"> -->
                                    <div class="form-group">
                                        <input type="text" id="couponCode" name="couponCode" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div id="showcouponmessage"></div> <!-- Display the message here -->
                                
                  

                                    <div class="form-group">
                                        <button   class="btn btn-md" onclick="applyCoupon()" name="login">Apply Coupon</button>
                                    </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
                          
                    <script>
                        
                        function applyCoupon() {
                            var couponCode = document.getElementById('couponCode').value;
                            var totalAmount = document.getElementById('totalAmount').value;

                            fetch(`/applyCoupon?couponCode=${couponCode}&totalAmount=${totalAmount}`)
                            .then(response=>response.json())
                            .then(data=>{
                                const finalAmount = data.finalPrice;
                                
                                // const updatedTotalAmount = totalAmount - discountAmount;
                                document.getElementById('finalAmount').innerHTML= finalAmount;
                               
                                document.getElementById('coupon-selected').value= couponCode;                            
                                document.getElementById('showcouponmessage').innerHTML= data.message;
                                console.log('message:',data.message)
                                

                            if (data.message === 'coupon Applied Successfull') {
                               
                                const couponCode = data.couponCode;
                                req.session.couponCode = couponCode;
                                document.getElementById('couponAmount').innerHTML = data.couponAmount;
                                document.getElementById('showCoupon').style.display = 'block';
                            }
                            if(finalAmount < document.getElementById('walletBalance').value){
                                document.getElementById('walletradio').style.display='block'
                            }

                            })
                            .catch(error =>{
                                console.log('error applying Coupon',error)
                            })
                       
                        }
                     </script>


                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
                        <form method="post">
                           
                        </form>
                    </div> -->
                    <div class="col-md-12">
                        <a href="/addAddress" class="btn btn-fill-out submit" name="submit" value="Submit">Add Address</a>
                    </div>
                    <br>
                    <form action="/placeOrder" method="post" id="myForm">
                        <input type="hidden" id="coupon-selected" name="couponSelected">
                <div class="row">
                    <div class="col-md-6">
                        <%for(let i=0; i<user.address.length;i++){%>
                            <div class="col-md-6 card ">
                                <div class="card-header">
                                    <h5 class="mb-25">Billing Address</h5>
                                </div>
                                <div class="card-body">
                                    <address>
                                        <%=user.address[i].fname%>
                                            <%=user.address[i].lname%><br>
                                                <%=user.address[i].houseName%><br>
                                                    <%=user.address[i].city%><br>
                                                        <%=user.address[i].state%><br>
                                                            <%=user.address[i].pincode%><br>
                                                                <%=user.address[i].phone%>
                                    </address>
                                    <input type="radio" id="addressIndex" name="addressIndex" value="<%= i %>"
                                        id="billingAddress<%= i %>" class="custom-radio" checked="" />
                                    <label for="billingAddress<%= i %>" class="mt-2 ml-5">

                                    </label>

                                </div>

                            </div>
                            <%}%>
                    </div>
                    <%for(let i=0;i<cart.products.length;i++){%>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                         
                               
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                            <tr>
                                                <td class="image product-thumbnail"><img
                                                        src="<%= cart.products[i].productId.image[0]%>" alt="#"></td>
                                                <td>
                                                    <h5><a href="shop-product-full.html">
                                                            <%= cart.products[i].productId.title%>
                                                        </a></h5> <span class="product-qty">x
                                                        <%=cart.products[i].quantity%></span>
                                                </td>
                                                <td>
                                                    <%=(cart.products[i].productId.promoPrice)*(cart.products[i].quantity)%>
                                                </td>
                                            </tr>
                                            
                                            
                                                <tr>
                                                    <th>Shipping</th>
                                                    <td colspan="2"><em>Free Shipping</em></td>
                                                </tr>
                                                
                                                <tr>
                                                   
                                                    <th>Total</th>
                                                    <td colspan="2" class="product-subtotal text-info">
                                                        <span class="font-xl text-brand fw-900">₹</span><span id="finalAmount"><%=subtotal%></span>
                                                    </td>
                                                    <% console.log('Subtotal:', subtotal); %>
                                                    <input type="hidden" name="totalAmount" id="totalAmount" value="<%=subtotal%>">
                                                   
                                                </tr>
                                               
                                                
                                                
                                                
                                    </tbody>
                                </table>
                                

                            </div>
                            
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                
                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                
                                    <!-- Your payment options radio buttons -->
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="paymentMethod" id="exampleRadios3" checked="" value="Cash On Delivery">
                                        <label class="form-check-label" for="exampleRadios3">Cash On delivery</label>
                                    </div>
                                
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="paymentMethod" id="exampleRadios4" value="Wallet">
                                        <label class="form-check-label" for="exampleRadios4">Wallet</label>
                                    </div>
                                
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="paymentMethod" id="exampleRadios5" value="Paypal">
                                        <label class="form-check-label" for="exampleRadios5">Razorpay</label>
                                    </div>
                                </div>
                                
                                <!-- <% if(user.address.length > 0) { %>
                                    <button type="submit" id="cashOnDeliveryBtn" onclick="sweetAlert()" class="btn btn-fill-out btn-block mt-30">Place Order(COD)</button>
                                    <button type="submit" id="paypalBtn" onclick="sweetAlert()" class="btn btn-fill-out btn-block mt-30" style="display: none;">Place Order(Razorpay)</button>
                                    <button id="walletBtn" class="btn btn-fill-out btn-block mt-30" style="display: none;" onclick="navigateToCheckWallet(event)">Pay wallet</button>
                                <% } %> -->
                                <% if (user.address.length > 0) { %>
                                    <!-- Display buttons for placing order if the user has addresses -->
                                    <button type="submit" id="cashOnDeliveryBtn" onclick="sweetAlert()" class="btn btn-fill-out btn-block mt-30">Place Order(COD)</button>
                                    <button type="submit" id="paypalBtn" onclick="sweetAlert()" class="btn btn-fill-out btn-block mt-30" style="display: none;">Place Order(Razorpay)</button>
                                    <button id="walletBtn" class="btn btn-fill-out btn-block mt-30" style="display: none;" onclick="navigateToCheckWallet(event)">Pay wallet</button>
                                <% } else { %>
                                    <!-- Display a message if the user has no addresses added -->
                                    <div class="alert alert-warning mt-3" role="alert">
                                        Please add an address before placing an order.
                                    </div>
                                <% } %>
                                <%}%>
                                <div id="messageContainer"></div>
                               
                                <!-- <script>
                                    function navigateToCheckWallet(event) {
                                        event.preventDefault(); // Add parentheses here
                                        window.location.href = "/checkWallet";
                                    }
                                </script> -->
                                <!-- <script>
                                    function navigateToCheckWallet(event) {
                                        event.preventDefault(); // Add parentheses here


                                        fetch(`/checkWallet?totalAmount=${totalAmount}&addressIndex=${addressIndex}`)
                                        
                                       
                                    }
                                   
                                    
                                </script> -->
                                <script>
                                    function navigateToCheckWallet(event) {
                                        event.preventDefault();
                                       
                                        const totalAmount = document.getElementById('totalAmount').value;
                                        const addressIndex = document.getElementById('addressIndex').value;
                                
                                        fetch(`/checkWallet?totalAmount=${totalAmount}&addressIndex=${addressIndex}`)
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.message === 'insufficient balance') {
                                                    // Display your insufficient balance message here
                                                    console.log('Insufficient balance. Cannot proceed with wallet payment.');
                                                } else {
                                                    // Redirect to wallet payment or perform other actions
                                                    console.log('Sufficient balance. Redirecting to wallet payment.');
                                                    window.location.href = `/walletPayment?addressIndex=${addressIndex}&totalAmount=${totalAmount}`;
                                                }
                                            })
                                            .catch(error => {
                                                console.error('Error checking wallet:', error);
                                            });
                                    }
                                </script>
                                
                            
                        </div>
                    </div>
                </div>
            </form>
            <!-- <script>
                document.getElementById('walletBtn').addEventListener('click', function () {
                    // Set the form action to the specific route for wallet payment
                    document.getElementById('myForm').action = "/walletRoute";
                });
            
                // Add similar event listeners for other buttons if needed
            </script> -->
           
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        
   function sweetAlert(){
    Swal.fire({
    
    icon: "success",
    title: "Order is placed",
    showConfirmButton: false,
    timer: 1500
    }); 
   }
    </script>

  
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        const totalAmount = document.getElementById('totalAmount').value
        const addressIndex = document.getElementById('addressIndex').value
       

document.addEventListener('DOMContentLoaded', function () {
    var orderId ;
// $(document).ready(function(){
    var settings = {
  "url": "/create/orderId",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    "amount": "5000"
  }),
};

//creates new orderId everytime
// $.ajax(settings).done(function (response) {

//   orderId=response.orderId;
//   console.log(orderId);
//   $("button").show();
// });
// });

function initiatePayment(razorOrder){
    let orderId=razorOrder._id
    var options = {
        "key": "rzp_test_FZSCAodZWexg9U", // Enter the Key ID generated from the Dashboard
        "amount": razorOrder.amount*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "CHASHMA",
        "description": "Test Transaction",
        "image": "assets/imgs/theme/chashma.png",
        "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            // alert(response.razorpay_payment_id);
            // alert(response.razorpay_order_id);
            // alert(response.razorpay_signature)
            window.location.href = `/onlinePayment?totalAmount=${totalAmount}&addressIndex=${addressIndex}`;

        },
        
        "theme": {
            "color": "#33cc99"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            console.log('payment failed')
    });
    rzp1.open();

}    
    // document.getElementById('rzp-button1').onclick = function(e){
        document.getElementById('paypalBtn').onclick = function(e){
       
        e.preventDefault();
        fetch(`/onlinePayment?totalAmount=${totalAmount}&addressIndex=${addressIndex}`, settings)

        .then(response=>response.json())
        .then(data=>{
            const order=data.razorOrder
            initiatePayment(order)
        })
       
        
    }
});


  
    </script>

    <script>
        function toggleButtons(showBtnId, hideBtnId1, hideBtnId2) {
            const showBtn = document.getElementById(showBtnId);
            const hideBtn1 = document.getElementById(hideBtnId1);
            const hideBtn2 = document.getElementById(hideBtnId2);
    
            if (showBtn && hideBtn1 && hideBtn2) {
                // Display the button that should be shown
                showBtn.style.display = 'block';
    
                // Hide the other buttons
                hideBtn1.style.display = 'none';
                hideBtn2.style.display = 'none';
            }
        }
    
        // Initialize button visibility based on the initially checked radio button
        document.addEventListener('DOMContentLoaded', function () {
            const cashOnDeliveryBtn = document.getElementById('cashOnDeliveryBtn');
            const paypalBtn = document.getElementById('paypalBtn');
            const walletBtn = document.getElementById('walletBtn');
    
            const paymentMethodRadioButtons = document.getElementsByName('paymentMethod');
    
            // Add event listener to each radio button
            paymentMethodRadioButtons.forEach(function (radioButton) {
                radioButton.addEventListener('click', function () {
                    const paymentMethodValue = this.value;
    
                    if (paymentMethodValue === 'Cash On Delivery') {
                        toggleButtons('cashOnDeliveryBtn', 'paypalBtn', 'walletBtn');
                    } else if (paymentMethodValue === 'Wallet') {
                        toggleButtons('walletBtn', 'cashOnDeliveryBtn', 'paypalBtn');
                    } else {
                        toggleButtons('paypalBtn', 'cashOnDeliveryBtn', 'walletBtn');
                    }
                });
            });
        });
    </script>

  
        <%-include('footer')-%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.Abhijith M/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

</html>