<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.Abhijith M/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:04:24 GMT -->
<head>
    <meta charset="utf-8">
    <title>CHASHMA</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/toplogo.jpeg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">

</head>

<body>
    <%- include('header') -%>

    <main class="main">
        <!-- <section class="home-slider position-relative pt-50">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">Trade-in offer</h4>
                                    <h2 class="animated fw-900">Supper value deals</h2>
                                    <h1 class="animated fw-900 text-brand">On all products</h1>
                                    <p class="animated">Save more with coupons & up to 70% off</p>
                                    <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> Shop Now </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-1" src="assets/imgs/slider/slider-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
               
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section> -->
        <!-- Assuming banners is an array of banner documents -->
        <% if (banners.length > 0) { %>
<section class="home-slider position-relative pt-50">
    
    <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
        <% for (let i = 0; i < banners.length && i < 3; i++) { %>
            <% const banner = banners[i]; %>
          
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <!-- Display other banner details here -->
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated"><%=banner.bannerText%></h4>
                                <h2 class="animated fw-900">Supper value deals</h2>
                                <h1 class="animated fw-900 text-brand">On all products</h1>
                                <!-- <p class="animated">Save more with coupons & up to 70% off</p> -->
                                <a class="animated btn btn-brush btn-brush-3" href="/productList"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-<%= i+1 %>" src="<%= banner.bannerImage[0] %>" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            
    </div>
  
    <div class="slider-arrow hero-slider-1-arrow"></div>
   
</section >
<% } %>
        <section class="featured section-padding position-relative"  style="background-color: rgb(163, 218, 173);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs section-padding position-relative wow fadeIn animated" >
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                        </li>
                    </ul>
                    <a href="/productList" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                   
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            
                            <%for(let i=0; i<product.length;i++){%>

                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30" style="width: 250px; height: 300px;">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom" style="width: 100%; height: 100%; object-fit: cover;">
                                            <a href="/productDetails?productId=<%=product[i]._id%>">
                                                <img class="default-img" src="/<%= product[i].image[0]%>" alt="">
                                                <img class="hover-img" src="/<%= product[i].image[0]%>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishlist?id=<%=product[i]._id%>"><i class="fi-rs-heart"></i></a>
                                            
                                           
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html"><%=product[i].brand%></a>
                                        </div>
                                        <h2><a href="/productDetails?productId=<%=product[i]._id%>"><%=product[i].title%></a></h2>
                                        <div class="rating-result" title="90%">
                                            <!-- <span>
                                                <span>90%</span>
                                            </span> -->
                                            <!-- <span class="text-grey-4 text-sm">20%OFF</span> -->
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%=product[i].promoPrice%></span>
                                            <span class="old-price">₹<%=product[i].regularPrice%></span><br>
                                            
                                           

                                        </div>
                                        <div class="product-action-1 show">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--En tab one (Featured)-->
                    <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                        <div class="row product-grid-4">
                            <% for(let i=0; i < mostOrderedProducts.length ; i++){%>
                                <% const product = mostOrderedProducts[i] %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/productDetails?productId=<%=product._id%>">
                                                <img class="default-img" src="/<%= product.image[0]%>" alt="">
                                                <img class="hover-img" src="/<%= product.image[0]%>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishlist?id=<%=product._id%>"><i class="fi-rs-heart"></i></a>
                                           
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/productDetails?productId=<%=product._id%>"><%= product.brand%></a>
                                        </div>
                                        <h2><a href="/productDetails?productId=<%=product._id%>"><%= product.title%></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span><%= product.promoPrice%></span>
                                            <span class="old-price"><%= product.regularPrice%></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                            
                           
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--En tab two (Popular)-->
                    <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                        <div class="row product-grid-4">
                            <% for (let i = 0; i < 4 && i < newArrival.length; i++) { %>
                                <% const product = newArrival[i]; %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/productDetails?productId=<%=product._id%>">
                                                <img class="default-img" src="/<%= product.image[0]%>" alt="">
                                                <img class="hover-img" src="/<%= product.image[0]%>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/addToWishlist?id=<%=product._id%>"><i class="fi-rs-heart"></i></a>
                                           
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/productDetails?productId=<%=product._id%>"><%= product.brand%></a>
                                        </div>
                                        <h2><a href="/productDetails?productId=<%=product._id%>"><%= product.title%></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span><%= product.promoPrice%></span>
                                            <span class="old-price"><%= product.regularPrice%></span>
                                        </div>
                                        <div class="product-action-1 show">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                            
                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--En tab three (New added)-->
                </div>
                <!--End tab-content-->
            </div>
        </section>
        <% for (let i = 0; i < banners.length; i++) { %>
            <% if(banners[i].bannerName == 'banner 4') { %>
                <section class="banner-2 section-padding pb-0">
                    <div class="container" style="background-size: cover; height: 500px; border-radius: 10px">
                        <div class="banner-img banner-big wow fadeIn animated f-none">
                            <img src="<%= banners[i].bannerImage %>" alt="" style="width: 90%; height: 400px;">
                            <div class="banner-text d-md-block d-none" style="position: absolute; bottom: 0; left: 0; padding: 20px; color: #fff;">
                                <h4 class="mb-15 mt-40 text-brand">SHOP</h4>
                                <h1 class="fw-600 mb-20"><%= banners[i].bannerText %><br> &Great Collection </h1>
                                <a href="/productList" class="btn">shop <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
            <% } %>
        <% } %>
        
        
       
        <section class="popular-categories section-padding mt-15 mb-25">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <% if (newArrival.length > 0) { %>
                            <% let categoryImages = {}; %>
                        
                            <!-- Iterate through newArrival to group products by category -->
                            <% newArrival.forEach(product => { %>
                                <% const categoryName = product.category.name; %>
                        
                                <!-- Check if category name is not already added to categoryImages -->
                                <% if (!categoryImages[categoryName]) { %>
                                    <% categoryImages[categoryName] = product.image[0]; %>
                                    <div class="card-1" >
                                        <figure class="img-hover-scale overflow-hidden">
                                            <!-- Display the first product's image for the category -->
                                            <a href="/productList?category=<%= product.category._id %>"><img src="<%= product.image[0] %>" alt=""></a>
                                        </figure>
                                        <h5>
                                            <!-- Display the name of the category for the first product -->
                                            <a href="/productList?category=<%= product.category._id %>"><%= categoryName %></a>
                                        </h5>
                                    </div>
                                <% } %>
                            <% }); %>
                        <% } else { %>
                            <p>No products available in newArrival.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <section class="banners mb-15">
            <div class="container">
                <div class="row">
                    <% for (let i = 0; i < banners.length; i++) { %>
                        <% if(banners[i].bannerName == 'banner 5') { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="<%= banners[i].bannerImage[0]%>" alt="" class="img-fluid">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4><%= banners[i].bannerText%>  <br> Sunglass</h4>
                                <a href="/productList">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <% }}%>
                    <% for (let i = 0; i < banners.length; i++) { %>
                        <% if(banners[i].bannerName == 'banner 6') { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="<%= banners[i].bannerImage[0]%>" alt="" class="img-fluid">
                            <div class="banner-text">
                                <span>Sale off</span>
                                <h4><%= banners[i].bannerText%> <br>Collection</h4>
                                <a href="/productList">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <% }}%>
                    <% for (let i = 0; i < banners.length; i++) { %>
                        <% if(banners[i].bannerName == 'banner 7') { %>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src="<%= banners[i].bannerImage[0]%>" alt="" class="img-fluid">
                            <div class="banner-text">
                                <span>New Arrivals</span>
                                <br> <br> <br> <br><br>
                                <h4 class="text-white"><%= banners[i].bannerText%> </h4>
                                <a href="/productList">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <% }}%>
                </div>
            </div>
        </section>
        
        <section class="section-padding">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        <% for (let i = 0; i < newArrival.length; i++) { %>
                            <div class="product-cart-wrap small hover-up">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/productDetails?productId=<%= newArrival[i]._id %>">
                                            <img class="default-img" src="/<%= newArrival[i].image[0] %>" alt="">
                                            <img class="hover-img" src="/<%= newArrival[i].image[0] %>" alt="">
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                       
                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="/addToWishlist?id=<%=product._id%>" tabindex="0">
                                            <i class="fi-rs-heart"></i>
                                        </a>
                                        
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <h2><a href="/productDetails?productId=<%= newArrival[i]._id %>"><%=newArrival[i].brand%> </a></h2>
                                    <div class="rating-result" title="90%">
                                        <span></span>
                                    </div>
                                    <div class="product-price">
                                        <span>₹<%=newArrival[i].promoPrice%></span>
                                        <span class="old-price">₹<%=newArrival[i].regularPrice%></span>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                   
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                </div>
            </div>
        </section>
        
        <section class="section-padding">
            <div class="container">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                   
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <% for(let i=0; i<brand.length ; i++){%>
                        <div class="brand-logo" style="margin-right: 15px;">
                            <img class="img-grey-hover" src="<%=brand[i].brandImage[0]%>" alt="">
                        </div>
                           <%}%>
                    </div>
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                </div>
            </div>
        </section>
        <section class="bg-grey-9 section-padding">
            <div class="container pt-25 pb-25">
                <div class="heading-tab d-flex">
                    <div class="heading-tab-left wow fadeIn animated">
                        <h3 class="section-title mb-20"><span>Monthly</span> Best Sell</h3>
                    </div>
                    <div class="heading-tab-right wow fadeIn animated">
                        <ul class="nav nav-tabs right no-border" id="myTab-1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab" data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <% for (let i = 0; i < banners.length; i++) { %>
                        <% if(banners[i].bannerName == 'banner 8') { %>
                    <div class="col-lg-3 d-none d-lg-flex">
                        <div class="banner-img style-2 wow fadeIn animated">
                            <img src="<%=banners[i].bannerImage[0]%>" alt="">
                            <div class="banner-text">
                                <span>Best Sell</span>
                                <h4 class="mt-5">Save on <br>Purchasing</h4>
                                <a href="/productList" class="text-white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <%}}%>
                    <div class="col-lg-9 col-md-12">
                        <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                            <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                                <div class="carausel-4-columns-cover arrow-center position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                                    <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                        <% for(let i=0; i < mostOrderedProducts.length ; i++){%>
                                            <% const product = mostOrderedProducts[i] %>
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/productDetails?productId=<%=product._id%>">
                                                        <img class="default-img" src="<%=product.image[0]%>" alt="">
                                                        <img class="hover-img" src="<%=product.image[0]%>" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                   
                                                   
                                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="/addToWishlist?id=<%=product._id%>"><i class="fi-rs-heart"></i></a>
                                                   
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/productDetails?productId=<%=product._id%>"><%=product.brand%></a>
                                                </div>
                                                <h2><a href="/productDetails?productId=<%=product._id%>"><%=product.title%></a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>70%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span><%=product.promoPrice%></span>
                                                    <span class="old-price"><%=product.regularPrice%></span>
                                                </div>
                                                <div class="product-action-1 show">
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                       
                                    </div>
                                </div>
                            </div>
                            <!--End tab-pane-->
                            
                           
                        </div>
                        <!--End tab-content-->
                    </div>
                    <!--End Col-lg-9-->
                </div>
            </div>
        </section>
       
        <section class="mb-45">
            <div class="container">
                <div class="row">
                    <% for (let i = 0; i < banners.length; i++) { %>
                        <% if(banners[i].bannerName == 'banner 9') { %>
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <div class="banner-img wow fadeIn animated mb-md-4 mb-lg-0">
                            <img src="<%=banners[i].bannerImage[0]%>" alt="">
                            <div class="banner-text">
                                <span>Sunglass Zone</span>
                                <h4>Save  on <br>All Items</h4>
                                <a href="/productList">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <%}}%>
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">New Arrivals</h4>
                        <div class="product-list-small wow fadeIn animated">
                            <% for (let i = 0; i < 4 && i < newArrival.length; i++) { %>
                                <% const product = newArrival[i]; %>
                                <article class="row align-items-center">
                                    <figure class="col-md-4 mb-0">
                                        <a href="/productDetails?productId=<%= product._id %>">
                                            <img src="<%= product.image[0] %>" alt="<%= product.title %>">
                                        </a>
                                    </figure>
                                    <div class="col-md-8 mb-0">
                                        <h4 class="title-small">
                                            <a href="/productDetails?productId=<%= product._id %>"><%= product.title %></a>
                                        </h4>
                                        <div class="product-price">
                                            <span>₹<%= product.promoPrice %></span>
                                            <span class="old-price">₹<%= product.regularPrice %></span>
                                        </div>
                                    </div>
                                </article>
                            <% } %>
                        </div>
                    </div>
                    
                    
                    
                        
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Top Selling</h4>
                        <div class="product-list-small wow fadeIn animated">
                            <% for(let i=0; i < mostOrderedProducts.length ; i++){%>
                               <% const product = mostOrderedProducts[i] %>
                            <article class="row align-items-center">
                                <figure class="col-md-4 mb-0">
                                    <a href="/productDetails?productId=<%= product._id %>"><img src="<%= product.image[0]%>" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/productDetails?productId=<%= product._id %>"><%= product.title%></a>
                                    </h4>
                                    <div class="product-price">
                                        <span>₹<%= product.promoPrice%></span>
                                        <span class="old-price">₹<%= product.regularPrice%></span>
                                    </div>
                                </div>
                            </article>
                            <%}%>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
    </main>

    <%-include('footer')-%>
    
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-10">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>


</body>


<!-- Mirrored from wp.Abhijith M/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:09:48 GMT -->
</html>