<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.Abhijith M/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

<head>
    <meta charset="utf-8">
    <title>CHASHMA</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/toplogo.jpeg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    <%- include('header') -%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>

                    <span></span> <a href="/userProfile" rel="nofollow">Account</a>
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">

                <form action="/addAddress" method="post">

                    <div class="row">
                        <div class="col-lg-10 m-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dashboard-menu">
                                        <ul class="nav flex-column" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                    href="#dashboard" role="tab" aria-controls="dashboard"
                                                    aria-selected="false"><i
                                                        class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                    role="tab" aria-controls="orders" aria-selected="false"><i
                                                        class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                    href="#track-orders" role="tab" aria-controls="track-orders"
                                                    aria-selected="false"><i
                                                        class="fi-rs-shopping-cart-check mr-10"></i>Refer And Earn</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="address-tab" data-bs-toggle="tab"
                                                    href="#address" role="tab" aria-controls="address"
                                                    aria-selected="true"><i class="fi-rs-marker mr-10"></i>My
                                                    Address</a>
                                            </li>
                                            <!-- <li class="nav-item">
                                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                    href="#account-detail" role="tab" aria-controls="account-detail"
                                                    aria-selected="true"><i class="fi-rs-user mr-10"></i>Account
                                                    details</a>
                                            </li> -->
                                            <li class="nav-item">
                                                <a class="nav-link" id="wallet-tab" data-bs-toggle="tab" href="#wallet"
                                                    role="tab" aria-controls="wallet" aria-selected="true"><i
                                                        class="fi-rs-user mr-10"></i>Wallet</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/logout"><i
                                                        class="fi-rs-sign-out mr-10"></i>Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">

                                    <div class="tab-content dashboard-content">
                                       <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                            aria-labelledby="dashboard-tab"> 
                                            <div class="card">
                                                <div class="card-body">
                                                    
                                                    <h4>Hello! <%=user.name%></h4>
                                                    <br>
                                                    <!-- Wallet History Table -->
                                                    <table class="table">
                                                        <thead class="bg-brand">
                                                            <tr>
                                                                <th class="text-light">User Details</th>
                                                                <th class="text-light"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td >Name</td>
                                                                <td><%= user.name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email</td>
                                                                <td><%= user.email %></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Phone</td>
                                                                <td><%= user.mobile %></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                   
                                                    
                                                
                                                </div>
                                            </div>

                                                <div class="card-body">
                                                    <p>From your account dashboard. you can easily check &amp; view your
                                                        <a href="#">recent orders</a>, manage your <a href="#">shipping
                                                            and billing addresses</a> and <a href="#">edit your password
                                                            and account details.</a></p>
                                                </div>
                                            </div> 
                                           
                                        <div class="tab-pane fade" id="orders" role="tabpanel"
                                            aria-labelledby="orders-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Your Orders</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>OrderId</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                    <th>Total</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% for (let i=0; i < orderData.length; i++) { %>
                                                                    <tr>

                                                                        <td>
                                                                            <%=orderData[i].orderId%>
                                                                        </td>
                                                                        <td>
                                                                            <%=
                                                                                formatedCouponDate(orderData[i].orderDate)%>
                                                                        </td>
                                                                        <!-- <td><%=orderData[i].OrderStatus%></td> -->
                                                                        <td>
                                                                            <span
                                                                                class="badge rounded-pill alert-success">
                                                                                <%=orderData[i].OrderStatus%>
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <%=orderData[i].totalAmount%>
                                                                        </td>
                                                                        <td><a href="/orderDetails?id=<%=orderData[i]._id%>"
                                                                                class="btn-small d-block">View</a></td>

                                                                    </tr>
                                                                    <% } %>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                            <div class="card">
                                                <div class="card-header text-light">
                                                    <h5 class="mb-0 font-xl">Referral Code</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div class="code-box">
                                                        <p class="lead text-brand" id="referralCode"><%= user.referralCode %></p>
                                                    </div>
                                                    <small class="text-muted">Share this code with your friends to earn rewards!</small>
                                                    
                                                    <!-- Display the referral link -->
                           
                                                    <p class="mt-3">
                                                        Share your referral link: 
                                                        <input type="text" class="form-control" id="referralLink" 
                                                               value="<%= `http://localhost:8000/register?referralCode=${user.referralCode}` %>" readonly>
                                                        <button class="btn btn-primary btn-sm mt-2" onclick="copyToClipboard()">Copy to Clipboard</button>
                                                        <span id="copyMessage" class="text-success mt-2" style="display: none;">Copied to clipboard!</span>
                                                    </p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <script>
                                            function copyToClipboard() {
                                                /* Get the text field */
                                                var referralLink = document.getElementById("referralLink");
                                        
                                                /* Select the text field */
                                                referralLink.select();
                                                referralLink.setSelectionRange(0, 99999); /* For mobile devices */
                                        
                                                /* Copy the text inside the text field */
                                                document.execCommand("copy");
                                        
                                                /* Show the "Copied to clipboard" message */
                                                var copyMessage = document.getElementById("copyMessage");
                                                copyMessage.style.display = "inline";
                                        
                                                /* Hide the message after a short delay */
                                                setTimeout(function () {
                                                    copyMessage.style.display = "none";
                                                }, 2000);
                                            }
                                        </script>
                                        
                                        
                                        <div class="tab-pane fade" id="address" role="tabpanel"
                                            aria-labelledby="address-tab">
                                            <!-- <div class="col-md-12">
                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit" >Add Address</button>
                                        </div> -->
                                            <div class="col-md-12">
                                                <a href="/addAddress" class="btn btn-fill-out submit" name="submit"
                                                    value="Submit">Add Address</a>
                                            </div>

                                            <br>

                                            <div class="row">
                                                <%for(let i=0; i<user.address.length;i++){%>
                                                    <div class="col-lg-6">

                                                        <div class="card mb-3 mb-lg-0">
                                                            <div class="card-header">
                                                                <h5 class="mb-0">Billing Address</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <address>
                                                                    <%=user.address[i].fname%>
                                                                        <%=user.address[i].lname%><br>
                                                                            <%=user.address[i].houseName%><br>
                                                                                <%=user.address[i].city%><br>
                                                                                    <%=user.address[i].state%><br>
                                                                                        <%=user.address[i].pincode%><br>
                                                                                            <%=user.address[i].phone%>
                                                                </address>

                                                                <a href="/editAddress?index=<%= i %>"
                                                                    class="btn-small">Edit</a>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%}%>

                                            </div>
                                        </div>
                                        <!-- <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                            aria-labelledby="account-detail-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Account Details</h5>
                                                </div>
                                                <div class="card-body">
                                                    <p>Already have an account? <a href="page-login-register.html">Log
                                                            in instead!</a></p>
                                                    <form method="post" name="enq">
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label>First Name <span
                                                                        class="required">*</span></label>
                                                                <input required="" class="form-control square"
                                                                    name="name" type="text">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Last Name <span class="required">*</span></label>
                                                                <input required="" class="form-control square"
                                                                    name="phone">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Display Name <span
                                                                        class="required">*</span></label>
                                                                <input required="" class="form-control square"
                                                                    name="dname" type="text">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Email Address <span
                                                                        class="required">*</span></label>
                                                                <input required="" class="form-control square"
                                                                    name="email" type="email">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Current Password <span
                                                                        class="required">*</span></label>
                                                                <input required="" class="form-control square"
                                                                    name="password" type="password">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>New Password <span
                                                                        class="required">*</span></label>
                                                                <input required="" class="form-control square"
                                                                    name="npassword" type="password">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Confirm Password <span
                                                                        class="required">*</span></label>
                                                                <input required="" class="form-control square"
                                                                    name="cpassword" type="password">
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button type="submit" class="btn btn-fill-out submit"
                                                                    name="submit" value="Submit">Save</button>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="tab-pane fade " id="wallet" role="tabpanel" aria-labelledby="wallet-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4>Wallet Balance</h4><br>
                                                <h5>₹ <%= user.wallet%></h5>
                                            </div>
                                        </div>
                                    </div> -->
                                        <!-- userProfile.ejs or your template file -->
                                        <div class="tab-pane fade" id="wallet" role="tabpanel"
                                            aria-labelledby="wallet-tab">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4>Available Wallet Balance</h4><br>
                                                    <h5>₹ <%= user.wallet %>
                                                    </h5>
                                                    <br>
                                                    <!-- Wallet History Table -->
                                                    <table class="table">
                                                        <thead class="bg-brand">
                                                            <tr>
                                                                <th class="text-light">Date</th>
                                                                <th class="text-light">Type</th>
                                                                <th class="text-light">Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% user.walletHistory.forEach(entry=> { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= entry.date.toDateString() %>
                                                                    </td>
                                                                    <td>
                                                                        <%= entry.type %>
                                                                    </td>
                                                                    <td>
                                                                        <%= entry.amount %>
                                                                    </td>
                                                                </tr>
                                                                <% }); %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
        </section>
        <!-- Include this script in your userProfile page -->
<script>
    // Check if there's session data indicating that the user has placed an order
    const orderPlaced = sessionStorage.getItem('orderPlaced');

    // If an order was placed, redirect to the cart and clear the session data
    if (orderPlaced) {
        sessionStorage.removeItem('orderPlaced');
        window.location.href = '/addCart';
    }

    // Set session data when the user visits the userProfile page
    sessionStorage.setItem('lastVisitedPage', '/userProfile');

    // Disable caching to ensure back button behavior
    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>


    </main>
    <%-include('footer')-%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.Abhijith M/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

</html>